MFT_HARNESS_01_SFTP_SERVER_FQDN=dev12344567.a-fra-s100.mft.ipaas.automation.ibm.com
MFT_HARNESS_01_SFTP_SERVER_PORT=11422
MFT_HARNESS_01_SFTP_CLIENT_USER_NAME=userNameHere
MFT_HARNESS_01_SFTP_CLIENT_USER_PASSWORD=SomePassHere

MFT_HARNESS_01_SFTP_BASE_UPLOAD_DIR=inbound

MFT_HARNESS_01_DEBUG=false
